<p-toast />
<!-- <p-progressbar mode="indeterminate" [style]="{ height: '6px' }" color="#343a40" /> -->
<div class="container my-4">
    <p-stepper [value]="1" class="basis-[50rem]">
        <p-step-list>
            <p-step [value]="1">Personal Details</p-step>
            <p-step [value]="2">Company</p-step>
            <p-step [value]="3">Submit</p-step>
        </p-step-list>
        <p-step-panels>
            <p-step-panel [value]="1">
                <ng-template #content let-activateCallback="activateCallback">
                    <div class="container">
                        <form [formGroup]="personalForm" (ngSubmit)="activateCallback(2)">

                            <div style="display: flex; flex-direction: row; justify-content: space-between;">

                                <div class="flex flex-col gap-2 col-4" style="display: flex; flex-direction: column; ">
                                    <label for="FirstName">First Name *</label>
                                    <input formControlName="FirstName" pInputText id="username" />
                                    <small id="username-error"></small>
                                </div>
                                <div class="flex flex-col gap-2 col-4" style="display: flex; flex-direction: column;">
                                    <label for="LastName">Middle Name</label>
                                    <input formControlName="LastName" pInputText id="username"
                                        aria-describedby="username-help" />
                                    <small id="username-help"></small>
                                </div>
                                <div class="flex flex-col gap-2 col-4" style="display: flex; flex-direction: column;">
                                    <label for="MiddleName">Last Name</label>
                                    <input formControlName="MiddleName" pInputText id="username"
                                        aria-describedby="username-help" />
                                    <small id="username-help"></small>
                                </div>
                            </div>
                            <div style="display: flex; flex-direction: row; justify-content: space-between;"
                                class="my-4">

                                <div class="flex flex-col gap-2 col-4" style="display: flex; flex-direction: column;">
                                    <label for="EmailID">Email *</label>
                                    <input formControlName="EmailID" pInputText id="username"
                                        aria-describedby="username-help" />
                                    <small id="username-help"></small>
                                </div>
                                <div class="flex flex-col gap-2 col-4" style="display: flex; flex-direction: column;">
                                    <label for="AddressLine1">Address 1 *</label>
                                    <input formControlName="AddressLine1" pInputText id="username"
                                        aria-describedby="username-help" />
                                    <small id="username-help"></small>
                                </div>
                                <div class="flex flex-col gap-2 col-4" style="display: flex; flex-direction: column;">
                                    <label for="AddressLine2">Address 2 *</label>
                                    <input formControlName="AddressLine2" pInputText id="username"
                                        aria-describedby="username-help" />
                                    <small id="username-help"></small>
                                </div>

                            </div>
                            <div style="display: flex; flex-direction: row; justify-content: space-between;"
                                class="my-4">

                                <div class="flex flex-col gap-2 col-4" style="display: flex; flex-direction: column;">
                                    <label for="Country">Country *</label>
                                    <p-select [options]="countryList" formControlName="Country" optionValue="countryId"
                                        optionLabel="countryName" placeholder="Select a Country"
                                        (onChange)="onCountryChange($event.value)" class="w-full md:w-56" />
                                    <!-- <input formControlName="countryID" pInputText id="username" aria-describedby="username-help" /> -->
                                    <small id="username-help"></small>
                                </div>
                                <div class="flex flex-col gap-2 col-4" style="display: flex; flex-direction: column;">
                                    <label for="State">State *</label>
                                    <p-select [options]="filteredStates" formControlName="State" optionValue="stateId"
                                        optionLabel="stateName" placeholder="Select a State" class="w-full md:w-56" />
                                    <small id="username-help"></small>
                                </div>
                                <div class="flex flex-col gap-2 col-4" style="display: flex; flex-direction: column;">
                                    <label for="City">City *</label>
                                    <input formControlName="City" pInputText id="username"
                                        aria-describedby="username-help" />
                                    <small id="username-help"></small>
                                </div>
                            </div>
                            <div style="display: flex; flex-direction: row; justify-content: start;" class="my-4">
                                <div class="flex flex-col gap-2 col-4" style="display: flex; flex-direction: column;">
                                    <label for="Zipcode">Zip Code *</label>
                                    <input formControlName="Zipcode" pInputText id="username"
                                        aria-describedby="username-help" />
                                    <small id="username-help"></small>
                                </div>
                                <div class="flex flex-col gap-2 col-4" style="display: flex; flex-direction: column;">
                                    <label for="UserName">UserName *</label>
                                    <input formControlName="UserName" pInputText id="username"
                                        aria-describedby="username-help" />
                                    <small id="username-help"></small>
                                </div>
                            </div>
                            <div class="d-flex pt-6 justify-content-end">
                                <a class="btn btn-danger mx-2" routerLink="/">Cancel</a>
                                <p-button type="submit" [disabled]="!personalForm.valid" label="Next"
                                    icon="pi pi-arrow-right" iconPos="right" />
                            </div>
                        </form>
                    </div>
                </ng-template>
            </p-step-panel>

            <p-step-panel [value]="2">
                <ng-template #content let-activateCallback="activateCallback">

                    <form [formGroup]="companyForm" (ngSubmit)="submit()">
                        <div style="display: flex; flex-direction: row; justify-content: space-between;">
                            <div class="flex flex-col gap-2 col-4" style="display: flex; flex-direction: column; ">
                                <label for="CompanyName">Company Name *</label>
                                <input formControlName="CompanyName" pInputText id="CompanyName" />
                            </div>
                            <div class="flex flex-col gap-2 col-4" style="display: flex; flex-direction: column; ">
                                <label for="GSTIN">GSTIN</label>
                                <input formControlName="GSTIN" pInputText id="GSTIN" />
                            </div>
                            <div class="flex flex-col gap-2 col-4" style="display: flex; flex-direction: column; ">
                                <label for="CIN">CIN</label>
                                <input formControlName="CIN" pInputText id="CIN" />
                            </div>
                        </div>

                        <div class="my-4" style="display: flex; flex-direction: row; justify-content: space-between;">
                            <div class="flex flex-col gap-2 col-4" style="display: flex; flex-direction: column; ">
                                <label for="AddressLine1">Address 1 *</label>
                                <input formControlName="AddressLine1" pInputText id="AddressLine1" />
                            </div>
                            <div class="flex flex-col gap-2 col-4" style="display: flex; flex-direction: column; ">
                                <label for="AddressLine2">Address 2</label>
                                <input formControlName="AddressLine2" pInputText id="AddressLine2" />
                            </div>
                            <div class="flex flex-col gap-2 col-4" style="display: flex; flex-direction: column; ">
                                <label for="CountryId">Country *</label>
                                <p-select [options]="countryList" formControlName="CountryId" optionValue="countryId"
                                    optionLabel="countryName" (onChange)="onCountryChange($event.value)"
                                    placeholder="Select a Country" class="w-full md:w-56"></p-select>
                            </div>
                        </div>

                        <div class="my-4" style="display: flex; flex-direction: row; justify-content: space-between;">
                            <div class="flex flex-col gap-2 col-4" style="display: flex; flex-direction: column; ">
                                <label for="StateId">State *</label>
                                <p-select [options]="filteredStates" formControlName="StateId" optionValue="stateId"
                                    optionLabel="stateName" placeholder="Select a State"
                                    class="w-full md:w-56"></p-select>
                            </div>
                            <div class="flex flex-col gap-2 col-4" style="display: flex; flex-direction: column; ">
                                <label for="City">City *</label>
                                <input formControlName="City" pInputText id="City" />
                            </div>
                            <div class="flex flex-col gap-2 col-4" style="display: flex; flex-direction: column; ">
                                <label for="ZipCode">Zip Code *</label>
                                <input formControlName="ZipCode" pInputText id="ZipCode" />
                            </div>
                        </div>

                        <div class="d-flex mb-4 justify-content-end">
                            <p-button label="Back" severity="secondary" styleClass="px-4"
                                (onClick)="activateCallback(1)" />
                            <p-button [disabled]="!companyForm.valid" label="Add" icon="pi pi-plus"
                                (click)="addcompany()" iconPos="right" class="mx-3" />
                            <p-button type="submit" [disabled]="!isAllFormValid()" label="Submit" icon="pi pi-check"
                                iconPos="right" />
                        </div>
                    </form>


                    <p-table [value]="companyObjects" showGridlines [tableStyle]="{ 'min-width': '50rem' }">
                        <ng-template #header>
                            <tr>
                                <th>Company Name</th>
                                <th>GSTIN</th>
                                <th>CIN</th>
                                <th>Address 1</th>
                                <th>Address 2</th>
                                <th>City</th>
                                <th>State</th>
                                <th>Country</th>
                                <th>Zipcode</th>
                                <th>Actions</th>
                            </tr>
                        </ng-template>
                        <ng-template #body let-company>
                            <tr>
                                <td>{{ company.CompanyName}}</td>
                                <td>{{ company.GSTIN }}</td>
                                <td>{{ company.CIN }}</td>
                                <td>{{ company.AddressLine1 }}</td>
                                <td>{{ company.AddressLine2 }}</td>
                                <td>{{ company.City }}</td>
                                <td>{{ findState(company.StateId) }}</td>
                                <td>{{ findCountry(company.CountryId) }}</td>
                                <td>{{ company.ZipCode }}</td>

                                <td>
                                    <div class="row" style="justify-content: center;">
                                        <button class="btn btn-primary" (click)="editClick(company.CompanyName)"><i
                                                class="fa fa-edit"></i></button>
                                        <button class="btn btn-danger mx-2"
                                            (click)="deleteClick(company.CompanyName)"><i
                                                class="fa fa-trash-alt"></i></button>
                                    </div>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </ng-template>
            </p-step-panel>

            <p-step-panel [value]="3">
                <ng-template #content let-activateCallback="activateCallback">
                </ng-template>
            </p-step-panel>
        </p-step-panels>
    </p-stepper>
</div>