<div class="container">

    <div class="table" style="width: 100%; border: 1px solid rgb(167, 167, 167);">
        <table style="width: 100%;">
            <tr>
                <th style="width: 60%;">Monthly Components</th>
                <th>Per Month</th>
                <th>Annualized</th>
            </tr>
            <tr>
                <td>Basic</td>
                <td>84628</td>
                <td>8763382</td>
            </tr>
            <tr>
                <td>House Rent Allowance</td>
                <td>5000</td>
                <td>60000</td>
            </tr>
            <tr>
                <td>Special Allowance</td>
                <td>1543</td>
                <td>749823</td>
            </tr>
        </table>
    </div>
    <div class="table" style="width: 80%; border: 1px solid rgb(167, 167, 167);">
        <table style="width: 100%;">
            <tr>
                <th style="width: 75%;">Deductions</th>
                <th>Per Month</th>
            </tr>
            <tr>
                <td>EPF</td>
                <td>5000</td>
            </tr>
            <tr>
                <td>ESI</td>
                <td>1543</td>
            </tr>
        </table>
    </div>
    <div class="table" style="width: 80%; background-color: rgb(168, 168, 168);">
        <table style="width: 100%;">
            <tr>
                <th style="width: 75%;">In Hand Salary Per Month (Approx.)</th>
                <th>46,342.00</th>
            </tr>
        </table>
    </div>
</div>