<div class="leavesTable-div" >
    <p-table [value]="requests" [tableStyle]="{ 'min-width': '60rem' }" showGridlines>
        <ng-template #header>
            <tr>
                <th>Index</th>
                <th>EmpId</th>
                <th>Employee</th>
                <th>Designation</th>
                <th>Department</th>
                <th>Leave Type</th>
                <th>Reason</th>
                <th>Leave From</th>
                <th>Leave To</th>
                <th>Duration</th>
                <th>Actions</th>
            </tr>
        </ng-template>
        <ng-template #body let-lv let-i="rowIndex">
            <tr >
                <td>{{i + 1}}</td>
                <td>{{ lv.employee.id}}</td>
                <td>{{ lv.employee.name}}</td>
                <td>{{ global.getRoleName(lv.employee.roleId)}}</td>
                <td>{{ global.getDepName(lv.employee.depId)}}</td>
                <td>{{ getLeaveTypeName(lv.leaveTypeId) }}</td>
                <td>{{ lv.reason}}</td>
                <td>{{ formatDate(lv.leaveFrom) }}</td>
                <td>{{ formatDate(lv.leaveTo)}}</td>
                <td>{{ lv.duration }}</td>
                <td>
                    <div style="display: flex; flex-direction: row; flex-wrap: nowrap; width: fit-content; background: none; justify-content: space-evenly; width: 100%;">
                        <button class="btn btn-outline-danger" style="width: fit-content; min-width: fit-content; border-radius: 100px;"  (click)="rejectRequest(lv.id)" ><i class="fa-solid fa-xmark"></i></button>
                        <button class="btn btn-outline-success "  style="width: fit-content; min-width: fit-content; border-radius: 100px;" (click)="approveRequest(lv.id)" ><i class="fa fa-check"></i></button>
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>

</div>