<div>

    <div class="row m-4">
        <h1 class="text-dark col-10">Leave Managment</h1>
    </div>
    <p-tabs value="1" lazy="true">
        <p-tablist>
            <p-tab value="1">My Leaves</p-tab>
            <p-tab value="2">Apply</p-tab>
        </p-tablist>
        <p-tabpanels>
            <p-tabpanel value="1">
                <app-my-leave></app-my-leave>
            </p-tabpanel>
            <p-tabpanel value="2">
                <app-apply-leave></app-apply-leave>
            </p-tabpanel>
        </p-tabpanels>
    </p-tabs>

    


</div>