.heading{
    background-color: #005cbf;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 10px;
    color: antiquewhite;
  }
  .form{
    margin-bottom: 25px;
  }
  
  .LH{
    line-height: 35px;
  }
  