<div class="container">
    <div style="display: flex; flex-direction: column;" class="detail-card">
        <div class="row m-2 mb-4">
            <h4>Basic Documents</h4>
        </div>
        <div class="row m-2 p-3" style="border: 1px solid rgb(214, 214, 214); border-radius: 10px;">
            <p class="col-6">Id Card</p>
            <a class="col-6">Download</a>
        </div>
        <div class="row m-2 p-3" style="border: 1px solid rgb(214, 214, 214); border-radius: 10px;">
            <p class="col-6">Aadhaar card</p>
            <input type="file" class="col-6" />
        </div>
        <div class="row m-2 p-3" style="border: 1px solid rgb(214, 214, 214); border-radius: 10px;">
            <p class="col-6">Pan card</p>
            <input type="file" class="col-6" />
        </div>
    </div>
    <div style="display: flex; flex-direction: column;" class="detail-card">
        <div class="row m-2 mb-4">
            <h4>Educations</h4>
        </div>
        <div class="row m-2 p-3" style="border: 1px solid rgb(214, 214, 214); border-radius: 10px;">
            <p class="col-6">Intermediary</p>
            <input type="file" class="col-6" />
        </div>
        <div class="row m-2 p-3" style="border: 1px solid rgb(214, 214, 214); border-radius: 10px;">
            <p class="col-6">Degree</p>
            <input type="file" class="col-6" />
        </div>
    </div>
</div>