<div class="container mt-4">
    <p-tabs value="0">
        <p-tablist>
            <p-tab value="0">Personal</p-tab>
            <p-tab value="1">Documents</p-tab>
            <p-tab value="2">Pay Slips</p-tab>
            <p-tab value="3">Salary Structure</p-tab>
            <p-tab value="4">Promotions</p-tab>
        </p-tablist>
        <p-tabpanels>
            <p-tabpanel value="0">
                <app-personal></app-personal>
            </p-tabpanel>
            <p-tabpanel value="1">
                <app-document></app-document>
            </p-tabpanel>
            <p-tabpanel value="2">
                <app-payslip></app-payslip>
            </p-tabpanel>
            <p-tabpanel value="3">
                <app-salary-structure></app-salary-structure>
            </p-tabpanel>
            <p-tabpanel value="4">

            </p-tabpanel>
        </p-tabpanels>
    </p-tabs>
</div>
